
<center><%= link_to "New Article", new_article_path(@articles),data: {bs_toggle: 'modal',bs_target:"#newArticleModal", remote: true }%></center>
<center><h1>Articles</h1></center>
 <table class="table table-boardered">
  <thead>
    <tr>
      <th>Name</th> 
    </tr>  
  </thead>  

  <tbody  id="articleTable">
    <% @articles.each do |article| %>
    <%= render 'article_row', article: article %>
  <% end %>
  </tbody>
</table>

<div class="modal fade" id="newArticleModal" tabindex="-1" aria-labelledby="newArticleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newArticleModal">Create new Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: '/articles/:article_id/article' ,local: false do |form|%>
        <%#= form_for(@articles, url: article_article_path)%>
          <%= form.label :title%><br>
          <%= form.text_field :title %><br>

          <%= form.label :description%><br>
          <%= form.text_field :description %><br>
          <%= form.submit %><br>
          <%end%>

      </div>
    </div>
  </div>
</div>

  <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="showArticleModal" tabindex="-1" role="dialog" aria-labelledby="showAerticleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showArticleModalLabel">Show details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%=render template: "articles/show", articles: @articles%>
      </div>
      <div id= "showUserDetails">
    </div>
  </div>
</div>


